* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#inputArea {
    h1 {
        font-size: 3rem;
    }

    input {
        margin-top: 1rem;
        font-size: 2rem;
        padding: 0.25rem 1rem;
        font-style: italic;
        border: none;

        &:focus {
            outline: none;
            border-bottom: 2px solid;
        }
    }
}