* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 0px) {
    #inputArea {
        h1 {
            font-size: 2rem;
        }
    
        input {
            // margin-top: 0.5rem;
            margin: 2rem auto 0.5rem;
            font-size: 1.5rem;
            padding: 0.25rem 1rem;
            font-style: italic;
            border: none;
            width: 75vw;
    
            &:focus {
                outline: none;
                border-bottom: 2px solid;
            }
        }
    }
}

@media screen and (min-width: 576px) {
    #inputArea {
        h1 {
            font-size: 3rem;
        }
    
        input {
            margin-top: 3rem;
            font-size: 2rem;
            padding: 0.25rem 1rem;
            width: 50vw;
        }
    }
}

@media screen and (min-width: 1200px) {
    #inputArea {
        input {
            width: 30vw;
        }
    }
}